# IDEs
.idea/
.vscode/

# OSX
.DS_Store
_DS_Store

# pyenv & virtual envs
.python-version
.venv/
venv/

# __pycache__
__pycache__/
**/__pycache__/

# downloaded playbooks
ansible/support/
ansible/basic-whisper.cpp.yml
